#!/usr/bin/make -f
#

# Set your configure flags here
# eg. --enable-optimization
DEB_CONFIGURE_USER_FLAGS := \
    --prefix=/www/globalproxy \
    $(DEB_CONFIGURE_USER_FLAGS)

# Standard Seznam debhelper's script
#include /www/debhelper/rules/szn-debhelper.mk

# If you use autotools (ie. Makefile.am), add the following
#include /www/debhelper/rules/szn-autotools.mk

